<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<%- if List.all != [] %>
 		<%- List.current.each do |house| %>
			<a href=<%= house.url%>><%= house.print %></a><br>
		<% end %> 
	<% end %>
</body>
</html>